{% extends 'base.html' %}

{% block styles %}

{% load static %}
<link rel="stylesheet" href="{% static 'quiz/home.css' %}">

{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Ordförståelse: {{ question_count }} frågor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <p class="navbar-nav mr-auto">
        </p>
        <div class="form-inline my-2 my-lg-0">
            <a href="/logout" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logga ut</a>
        </form>
    </div>
</nav>

<div class="home-container">
    
    <div class="menu-container">
        <div style="display: flex; align-items: center; flex-direction: column"> 
            {% load static %}
            <img src="{% static 'quiz/silhouette.png' %}"/>
            <strong>{{ name }}</strong>
        </div>

        <h2>Ditt jämförelsetal: {{ overall_score }} </h2>
        <div>
            <a href="/train" class="btn btn-primary" style="float: left; margin: 5px">Öva</a>
        </div>
        
        <p style="clear: both;">Tillåt <strong>notifikationer</strong> för att slippa <br> komma ihåg testen själv 🧠</p>
    </div>

    <div class="menu-container">
        <h2>Dina test</h2>
        {% for test in tests %}
            <div class="test">
                <div class="test-details">
                    <p>{{ test.date|date:"D d M Y" }} {{ test.date|time:"H:i" }}</p>
                    <a href="/result/{{ test.id }}"> {{ test.correct_count }} / {{ test.question_count }}</a>
                </div>

                {% if test.complete %}
                    <p class="continue" style="color: green">Klar</p>
                {% else %}
                    <a href="/resume/{{ test.id }}" class="btn btn-primary continue" type="submit">Fortsätt</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% load static %}
<script src="{% static 'quiz/registerSw.js' %}"></script>

{% endblock %}