{% extends 'base.html' %}

{% block styles %}

{% load static %}
<link rel="stylesheet" href="{% static 'quiz/home.css' %}">

{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Ordförståelse</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <a href="/logout" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</a>
        </form>
    </div>
</nav>

<div class="home-container">
    
    <div class="menu-container">
        <div style="display: flex; align-items: center; flex-direction: column"> 
            {% load static %}
            <img src="{% static 'quiz/silhouette.png' %}"/>
            <strong>{{ name }}</strong>
        </div>

        <h2>Your score: {{ overall_score }} </h2>
        <div>
            <a href="/test" class="btn btn-primary" style="float: left; margin: 5px">Test</a>
            <a href="/train" class="btn btn-secondary" style="float: left; margin: 5px">Train</a>
        </div>
        
        <p style="clear: both;">Test runs does not count into your overall score.</p>
    </div>

    <div class="menu-container">
        <h2>Your tests</h2>
        {% for test in tests %}
            <div class="test">
                <p>{{ test.date|date:"D d M Y" }} {{ test.date|time:"H:i" }}</p>

                {% if test.complete %}
                    <p style="color: green">Done</p>
                {% else %}
                    <a href="/logout" class="btn btn-primary continue-btn" type="submit">Continue</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}