{% extends 'base.html' %}

{% block styles %}

{% load static %}
<link rel="stylesheet" href="{% static 'quiz/question.css' %}">

{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <a href="/home" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Quit</a>
            </form>
        </div>
</nav>

<div class="question-container">
    <h2>{{ text }} </h2>
    <button onclick="answerQuestion(0)" class="btn btn-primary answer" style="margin: 5px">{{ answer_a }}</a>
    <button onclick="answerQuestion(1)" class="btn btn-primary answer" style="margin: 5px">{{ answer_b }}</a>
    <button onclick="answerQuestion(2)" class="btn btn-primary answer" style="margin: 5px">{{ answer_c }}</a>
    <button onclick="answerQuestion(3)" class="btn btn-primary answer" style="margin: 5px">{{ answer_d }}</a>
</div>

<script>

    var startTime = 0;

    $(document).ready(() => {
        startTime = Date.now();
    });

    function answerQuestion(alternative){
        const time = Date.now() - startTime;
        const url = window.location.origin + '/answer/{{ test_id }}/{{ question_id }}/' + alternative;

        $.post(url, (data, status, jqHXR) => {
            const correct = data.correct;

            $('.answer').each((index, element) => {
                element.classList.remove('btn-primary');

                if(index == correct)
                    element.classList.add('btn-success');
                else
                    element.classList.add('btn-danger');
            }).promise().done(() => {
                setTimeout(() => {window.location = data.link}, 3000);
            });
        });
    }
</script>

{% endblock %}