.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

input{
  margin-block: 20px;
}

.form-signin {
  background-color: lightgray;
  border-radius: 25px;
  padding: 20px;
}

h1 {
  margin-block: 10px;
}